
.wrapper{
    width: 500px;
    height: 500px;
    margin: auto;
}
.platform{
    background-color: aquamarine;
    width: 106%;
    min-height: 80%;
}

.footer{
    background-color: cadetblue;
    width: 106%;
    min-height: 20%;
}