body{
    height: 1000px;
}

.block{
    width: 100px;
    height: 100px;
    position: absolute;
}

.bgRed{
    background-color: red;
}

#field1{
    height: 20%;
}

#field2{
    height: 80%;
    background-color: skyblue;
}

  