.buildInValidation:valid{
    border: 5px solid green;
}

.buildInValidation:invalid{
    border: 5px solid red;
}

.timerValidationCheck:invalid{
    border: 0px;
}

.timerValidationCheck:invalid{
    border: 5px solid red;
}